* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: all linear 0.3s;
}

img {
  display: block;
}

body {
  background-color: #0E0E2C;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1179px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  padding: 25px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vrap__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav____list-item {
  margin: 0 26px;
}

.item__link {
  font-size: 16px;
  line-height: 180%;
  color: #FFFFFF;
}

.header__btn {
  font-weight: 600;
  padding: 10px 35px;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  color: #FFBE0B;
  border: 1px solid #FFBE0B;
  border-radius: 10px;
  background-color: #0E0E2C;
}
.header__btn:nth-child(2) {
  margin-left: 27px;
}
.header__btn:hover {
  background-color: #FFBE0B;
  color: #0E0E2C;
}

.burger {
  display: none;
}

.burger span {
  width: 28px;
  height: 3px;
  border-radius: 5px;
  background-color: #FFBE0B;
  display: block;
}
.burger span:nth-child(2) {
  margin: 6px 0;
}

@media only screen and (max-width: 850px) {
  .nav____list-item {
    margin: 0 15px;
  }
  .header__btn {
    padding: 8px 20px;
  }
}
@media only screen and (max-width: 700px) {
  .nav__list {
    display: none;
  }
  .burger {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .header__btn {
    padding: 5px 15px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 450px) {
  .vrap__btn {
    display: none;
  }
}
.products {
  padding: 120px 0;
}

.products__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box__left {
  width: 48%;
}

.left__satisfiad {
  margin-bottom: 15px;
  width: 250px;
  padding: 3px 5px;
  background: #172656;
  font-size: 14px;
  line-height: 180%;
  text-align: center;
  letter-spacing: 0.075em;
  color: #3A86FF;
}

.products__title {
  margin-bottom: 30px;
  font-size: 62px;
  line-height: 130%;
  color: #FFFFFF;
}

.products__info {
  margin-bottom: 50px;
  max-width: 400px;
  font-size: 16px;
  line-height: 180%;
  color: #868695;
}

.input__box {
  padding: 5px;
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #626276;
  border-radius: 18px;
}

.input {
  padding-left: 10px;
  border: none;
  height: 40px;
  background-color: #172656;
  border-radius: 25px;
}

.input__btn {
  font-weight: 600;
  padding: 10px 35px;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  color: #FFBE0B;
  border: 1px solid #FFBE0B;
  border-radius: 10px;
  background-color: #0E0E2C;
}
.input__btn:hover {
  background-color: #FFBE0B;
  color: #0E0E2C;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

::placeholder {
  color: #fff;
}

.box__right {
  width: 50%;
}

.products__img {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .products {
    padding: 100px 0;
  }
  .products__title {
    font-size: 52px;
    line-height: 60px;
  }
  .input__box {
    width: 400px;
  }
  .input__btn {
    padding: 8px 20px;
  }
}
@media only screen and (max-width: 900px) {
  .products__inner {
    flex-wrap: wrap;
  }
  .box__left {
    margin-bottom: 50px;
    width: 100%;
  }
  .left__satisfiad {
    margin: 0 auto;
  }
  .products__title {
    margin: 20px auto;
    text-align: center;
    max-width: 600px;
  }
  .products__info {
    text-align: center;
    margin: 20px auto;
  }
  .input__box {
    margin: 0 auto;
  }
  .box__right {
    width: 100%;
  }
  .products__img {
    width: 70%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 600px) {
  .left__satisfiad {
    padding: 5px;
    width: 210px;
    font-size: 12px;
  }
  .products__title {
    font-size: 30px;
  }
  .products__info {
    font-size: 14px;
  }
  .input__box {
    width: 300px;
  }
  .input__btn {
    padding: 5px 2px;
    line-height: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .products__title {
    font-size: 25px;
    line-height: 25px;
  }
  .products__inner {
    font-size: 10px;
  }
  .products__img {
    width: 100%;
  }
  .input__box {
    width: 280px;
  }
  .input {
    width: 150px;
  }
}
.format {
  padding: 100px 0;
}

.format__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.format__img {
  width: 48%;
}

.format__right {
  width: 48%;
}

.format__title {
  margin-bottom: 60px;
  font-size: 48px;
  line-height: 130%;
  color: #FFFFFF;
}

.format__vrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vrap__left {
  width: 48%;
}

.number {
  margin-bottom: 13px;
  font-size: 38px;
  line-height: 130%;
  color: #FFBE0B;
}

.number__info {
  max-width: 210px;
  font-size: 16px;
  line-height: 180%;
  color: #868695;
}

.vrap__line {
  margin-right: 50px;
  width: 80px;
  border: 1px solid #626276;
  transform: rotate(90deg);
}

@media only screen and (max-width: 1000px) {
  .format__title {
    font-size: 30px;
  }
  .number {
    font-size: 25px;
  }
  .number__info {
    font-size: 12px;
  }
}
@media only screen and (max-width: 900px) {
  .format__inner {
    flex-wrap: wrap;
  }
  .format__img {
    margin-bottom: 50px;
    width: 60%;
    margin: 0 auto;
  }
  .format__right {
    width: 100%;
  }
  .format__title {
    margin: 50px auto;
    max-width: 480px;
    text-align: center;
  }
  .format__vrap {
    margin: 0 auto;
    width: 60%;
    flex-wrap: wrap;
  }
  .vrap__left {
    width: 100%;
  }
  .number {
    text-align: center;
  }
  .number__info {
    margin: 0 auto;
    text-align: center;
  }
  .vrap__line {
    margin: 25px 0;
    width: 100%;
    transform: rotate(180deg);
  }
  .vrap__right {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .format__img {
    width: 100%;
  }
  .format__title {
    font-size: 25px;
  }
}
.business {
  padding: 100px 0;
}

.business__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.business_box__left {
  width: 48%;
}

.business__title {
  margin-bottom: 34px;
  font-size: 48px;
  line-height: 130%;
  color: #FFFFFF;
}

.business__info {
  font-size: 16px;
  line-height: 180%;
  color: #868695;
}

.business__box_right {
  width: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.business__cards {
  margin-bottom: 20px;
  padding: 20px 5px 22px 20px;
  width: 270px;
}
.business__cards:hover {
  background-color: #1A1A3D;
  border-radius: 10px;
}
.business__cards:hover:nth-child(1) {
  background-color: rgba(62, 49, 37, 0.6117647059);
}
.business__cards:hover:nth-child(3) {
  background-color: rgba(62, 11, 57, 0.662745098);
}
.business__cards:hover:nth-child(4) {
  background-color: rgba(61, 28, 37, 0.7058823529);
}

.cards__title {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
}

.cards__info {
  font-size: 14px;
  line-height: 180%;
  color: #868695;
}

@media only screen and (max-width: 1000px) {
  .business__inner {
    align-items: flex-start;
  }
  .business__title {
    font-size: 30px;
  }
  .business__info {
    font-size: 14px;
  }
}
@media only screen and (max-width: 900px) {
  .business__inner {
    flex-wrap: wrap;
  }
  .business_box__left {
    margin-bottom: 50px;
    width: 100%;
  }
  .business__title {
    margin: 20px auto;
    text-align: center;
    font-size: 25px;
  }
  .business__info {
    text-align: center;
    margin: 0 auto;
    max-width: 350px;
  }
  .business__box_right {
    width: 100%;
  }
  .business__cards {
    width: 200px;
  }
  .cards__title {
    font-size: 16px;
  }
  .cards__info {
    font-size: 14px;
  }
}
@media only screen and (max-width: 420px) {
  .business__cards {
    margin-bottom: 30px;
    width: 100%;
    margin: 0 auto;
  }
  .cards__img {
    margin: 0 auto;
  }
  .cards__title {
    text-align: center;
  }
  .cards__info {
    text-align: center;
  }
}
.stories {
  padding: 100px 0;
}

.stories__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stories_box_left {
  position: relative;
  width: 48%;
}

.stories__img {
  width: 100%;
}

.totl__img {
  position: absolute;
  bottom: -50px;
  left: -70px;
}

.stories__box_right {
  width: 48%;
}

.stories__title {
  margin-bottom: 90px;
  font-size: 48px;
  line-height: 130%;
  color: #FFFFFF;
}

.product__vrap {
  display: flex;
  align-items: center;
}

.tick {
  margin-right: 20px;
}

.product__name {
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
}

.ptoduct__info {
  margin: 20px 50px;
  max-width: 350px;
  font-size: 14px;
  line-height: 180%;
  color: #868695;
}

@media only screen and (max-width: 1000px) {
  .stories__img {
    position: relative;
  }
  .totl__img {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .stories__title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 900px) {
  .stories__inner {
    flex-wrap: wrap;
  }
  .stories_box_left {
    margin-bottom: 50px;
    width: 100%;
  }
  .stories__img {
    margin: 0 auto;
    width: 60%;
  }
  .totl__img {
    left: 20%;
    width: 100px;
  }
  .stories__box_right {
    width: 100%;
  }
  .stories__title {
    margin-top: 20px;
    text-align: center;
  }
  .product__vrap {
    margin: 0 auto;
  }
  .product__name {
    text-align: center;
  }
}
@media only screen and (max-width: 400px) {
  .stories__title {
    font-size: 20px;
  }
  .product__name {
    font-size: 16px;
  }
  .ptoduct__info {
    font-size: 12px;
  }
  .totl__img {
    width: 80px;
  }
}
.perform {
  padding: 100px 0;
}

.perform__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.perform__left__box {
  width: 48%;
}

.perform__title {
  margin-bottom: 34px;
  font-size: 48px;
  line-height: 130%;
  color: #FFFFFF;
}

.perform__info {
  max-width: 460px;
  font-size: 16px;
  line-height: 180%;
  color: #868695;
}

.perform__img {
  width: 48%;
}

@media only screen and (max-width: 1000px) {
  .perform__title {
    font-size: 30px;
  }
  .perform__info {
    font-size: 14px;
  }
}
@media only screen and (max-width: 800px) {
  .perform__inner {
    flex-wrap: wrap;
  }
  .perform__left__box {
    margin-bottom: 50px;
    width: 100%;
  }
  .perform__title {
    text-align: center;
  }
  .perform__info {
    text-align: center;
    margin: 0 auto;
  }
  .perform__img {
    width: 80%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 400px) {
  .perform__title {
    font-size: 20px;
  }
  .perform__info {
    font-size: 12px;
  }
  .perform__img {
    width: 90%;
  }
}
.us {
  padding: 100px 0;
}

.us__title {
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}

.us__info {
  margin-top: 20px;
  margin-bottom: 48px;
  text-align: center;
  font-size: 16px;
  line-height: 180%;
  color: #868695;
}

.us__input__box {
  margin: 0 auto;
  padding: 5px;
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #626276;
  border-radius: 18px;
}

.us__input {
  border-radius: 20px;
  height: 50px;
  background-color: #0E0E2C;
  border: none;
  border: #0E0E2C;
}

@media only screen and (max-width: 600px) {
  .us {
    padding: 50px 0;
  }
  .us__title {
    font-size: 25px;
  }
  .us__info {
    font-size: 12px;
  }
  .us__input__box {
    width: 280px;
  }
}
footer {
  padding: 50px 0;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-item {
  margin: 0 25px;
}

.footer__link {
  font-size: 16px;
  line-height: 180%;
  color: #FFFFFF;
}

.social__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__link {
  margin: 0 8px;
}

@media only screen and (max-width: 820px) {
  .social__box {
    margin-top: 50px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 560px) {
  .footer__link {
    margin: 0 auto;
  }
  .footer__inner nav {
    margin: 25px auto;
  }
  .footer-item {
    margin: 0 10px;
  }
}/*# sourceMappingURL=main.css.map */