.us {
  padding: 100px 0;
}
.us__title {
  font-size: 48px;
line-height: 130%;
text-align: center;
color: #FFFFFF;
}
.us__info {
  margin-top: 20px;
  margin-bottom: 48px;
  text-align: center;
  font-size: 16px;
line-height: 180%;
color: #868695;
}
.us__input__box {
  margin: 0 auto;
  padding: 5px;
  width: 450px;
  @include display;
  border: 1px solid #626276;
border-radius: 18px;
}
.us__input {
  border-radius: 20px;
  height: 50px;
  background-color: #0E0E2C;
  border: none;
  border: #0E0E2C;
}
@media only screen and (max-width:600px) {
  .us {
    padding: 50px 0;
  }
  .us__title {
    font-size: 25px;
  }
  .us__info {
    font-size: 12px;
  }
  .us__input__box {
    width: 280px;
  }
}























